@import url("https://astromations.github.io/Hazy/app.css")
* {
  font-family: 'Open Sans', sans-serif !important;
}

.__heart, .control-button-heart,
.main-addButton-active {
  color: var(--spice-heart) !important;
  fill: var(--spice-heart) !important;
}

.__color, .HbKLiGoYM4dpuK8L4TMX, .connect-device-list-item--active,
.connect-device-list-item--active *,
.control-button--active,
.main-repeatButton-button[aria-checked="true"],
.main-repeatButton-button[aria-checked="mixed"],
.main-shuffleButton-button[aria-checked="true"],
button[aria-label="Playing"],
.control-button--active-dot:after {
  color: var(--spice-color) !important;
  fill: var(--spice-color) !important;
}

.control-button-heart:hover,
.main-addButton-active:hover {
  opacity: 0.75 !important;
}

.progress-bar:hover .epWhU7hHGktzlO_dop6z {
  background: var(--spice-color) !important;
  background-color: var(--spice-color) !important;
}

.__scale_hover:hover, .main-playButton-PlayButton:hover,
.main-playButton-primary:hover,
.ButtonInner-sc-14ud5tc-0:hover,
.main-button-primary:hover, .HbKLiGoYM4dpuK8L4TMX:hover {
  -webkit-transform: scale(1.1) !important;
          transform: scale(1.1) !important;
}