@import url("https://astromations.github.io/Hazy/app.css")
* {
  font-family: 'Open Sans', sans-serif !important;
}

.progress-bar,
.progress-bar:hover,
.hW9km7ku6_iggdWDR_Lg {
  --background-base: var(--spice-color) !important;
  --is-active-fg-color: var(--spice-color) !important;
  --spice-button: var(--spice-color) !important;
  --is-active-fg-color: var(--spice-color) !important;
  --spice-button-active: var(--spice-color) !important;
  --lyrics-color-active: var(--spice-color) !important;
  --lyrics-color-inactive: #464849 !important;
  --lyrics-color-background: var(--spice-main) !important;
  --lyrics-color-messaging: #333333 !important;
}

.__background,
.main-playButton-primary,
.ButtonInner-sc-14ud5tc-0,
.main-button-primary,
.control-button--active-dot:after,
input:checked~.x-toggle-indicatorWrapper {
  background-color: var(--spice-color) !important;
  background: var(--spice-color) !important;
  color: var(--spice-contrast) !important;
}




.__color, .HbKLiGoYM4dpuK8L4TMX, .connect-device-list-item--active,
.connect-device-list-item--active *,
.control-button--active,
.main-repeatButton-button[aria-checked="true"],
.main-repeatButton-button[aria-checked="mixed"],
.main-shuffleButton-button[aria-checked="true"],
button[aria-label="Playing"],
.control-button--active-dot:after {
  color: var(--spice-color) !important;
  fill: var(--spice-color) !important;
}



.__heart, .control-button-heart,
.main-addButton-active {
  color: var(--spice-heart) !important;
  fill: var(--spice-heart) !important;
}

.__transparent, .main-entityHeader-backgroundColor,
.main-home-homeHeader,
.main-actionBarBackground-background {
  background-color: transparent !important;
  background: transparent !important;
}

.main-topBar-background {
  background-color: var(--spice-player) !important;
  background: var(--spice-player) !important;
}

.iB16LxoPzDeVZo8zPhPQ {
  isolation: unset !important;
}

.control-button-heart:hover,
.main-addButton-active:hover {
  opacity: 0.75 !important;
}

.HbKLiGoYM4dpuK8L4TMX {
  border-radius: 50% !important;
}

.HbKLiGoYM4dpuK8L4TMX._APVWqivXc4YqgsnpFkP {
  background-color: var(--spice-contrast) !important;
}

.HbKLiGoYM4dpuK8L4TMX svg {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.progress-bar:hover .epWhU7hHGktzlO_dop6z {
  background: var(--spice-color) !important;
  background-color: var(--spice-color) !important;
}

.main-trackList-trackListRow.main-trackList-active .main-trackList-rowTitle,
.main-trackList-trackListRow.main-trackList-active .main-trackList-rowMarker {
  color: var(--spice-color) !important;
}

.main-trackList-trackListRow.main-trackList-active .main-trackList-playingIcon {
  -webkit-filter: brightness(1000%) !important;
          filter: brightness(1000%) !important;
}